<footer>
    <section id="footerDivTop">
        <section id="footerTopLeft">
            <h4>Stay Connected</h4>
            <section id="socials">
                <a target="_blank" href="https://www.christhompsondev.com/"><i class="fa-solid fa-window-maximize"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/cthompsondev/"><i class="fa-brands fa-linkedin-in"></i></a>
                <a target="_blank" href="https://twitter.com/cThompsonDev"><i class="fa-brands fa-twitter"></i></a>
                <a target="_blank" href="https://github.com/ChrisThompsonDev"><i class="fa-brands fa-github"></i></a>
                <a target="_blank" href="https://www.facebook.com/cThompsonDev/"><i class="fa-brands fa-facebook-f"></i></a>
                
            </section>
        </section>
        <section id="footerTopMid">
            <h4>Privacy Policy<h4>
            <p>
                Your information will never be shared with anyone. Including, but not limited to: Email adresses, usernames or passwords.
            </p>
        </section>
    </section>

    <section id="footerDivBottom">
        <p class="copyright">&copy; 2022 <a href='https://www.christhompsondev.com/' target="_blank">CThompsonDev</a>. All rights reserved.</p>
    </section>
</footer>

<script src="js/main.js"></script>

</body>
</html>