<%- include('partials/header2') -%>

    <main id="main1">
        <p>Welcome to the Pokemon Scarlet and Violet Tracker! This tool was built to help players keep track of their progress in game without having to constantly open their map, Pokedex or boxes!</p>

        <p>Simply tap on the item to mark it as complete! Tap it again to do the opposite. I hope this helps you as much as it helps me!</p>

        <p>Adding more features soon! Will be adding location information, evolution instructions, etc for Pokemon and info about Gym Leader/Team Star Member's Pokemon!</p>
        <form action="/login">
            <button id="loginButton">Login</button>
        </form>
        <!-- <form action="/signup">
            <button id="signupButton">Signup</button>
        </form> -->
        


        
        
        
    </main>
<%- include('partials/footer') -%>